@*//LD SR*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page simulates an external API firing an event to the Hub. When the button is clicked a message is sent to the hub</p>
</div>




            <form role="form">
                <div class="form-group">
                    <label for="title">User Input:</label>
                    <input type="text" class="form-control" id="userInput">
                </div>
                <div class="form-group">
                    <label for="message">Notification Message:</label>
                    <input type="text" class="form-control" id="messageInput">
                </div>
                <div class="form-group">
                    <label for="alert-type">Notification Type:</label>
                    <select class="form-control" id="alertTypeInput">
                        <option value="info" selected>Information</option>
                        <option value="success">Success</option>
                        <option value="warning">Warning</option>
                        <option value="danger">Error</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" id="sendButton">Send</button>
            </form>




@section Scripts{
    <script type="text/javascript">

        console.log(" INDEX ---> script begin");

        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/anHub").build();

        //Disable send button until connection is established
        document.getElementById("sendButton").disabled = true;

        //connection.on("ReceiveMessage", function (user, message) {
        //    var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        //    var encodedMsg = user + " says " + msg;
        //    var li = document.createElement("li");
        //    li.textContent = encodedMsg;
        //    document.getElementById("messagesList").appendChild(li);
        //});

        connection.start().then(function () {

            console.log(" INDEX ---> connection started");

        //LD ACTION ONE
        document.getElementById("sendButton").disabled = false;
        }).catch(function (err) {
            return console.error(err.toString());
        });

        //LD ACTION TWO
        document.getElementById("sendButton").addEventListener("click", function (event) {
            var user = document.getElementById("userInput").value;
            var message = document.getElementById("messageInput").value;
            var alertTypeInput = document.getElementById("alertTypeInput").value;

            connection.invoke("SendMessage", user, message, alertTypeInput).catch(function (err) {
                return console.error(err.toString());
            });

            event.preventDefault();
        });

    </script>
}

